<div>
  <h3>Threads</h3>

  <form name="newThreadForm">
    <input type="text" ng-model="newThreadTitle" placeholder="new thread title..." required/>
    <button class="btn btn-success" ng-disable="newThreadForm.$invalid" ng-click="createThread(username, newThreadTitle)"> Add Thread </button>
  </form>
  <br />

  <ul>
    <li ng-repeat="thread in threads">
      <a href="#/threads/{{thread.$id}}">
        <span>{{thread.title}}</span>
        <span>by {{thread.username}}</span>
      </a>
    </li>
  </ul>
</div>